/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 50px;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
}

.img {
  margin: 10px;
  height: 30px;
}


.text {
  color:white;
  font-weight:bold;
  margin-right: 10px;
}

.search {
  width: 880px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 30px;
}

.btn {
  height:30px;
  width: 30px;
  border: 0;
  outline: 0;
  background-color: #282c34;
  margin-right: 20px;
}

.searchimg{
  width: 100%;
  width: 100%;
}
