* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 50px;
}

.header-logo {
  width: 150px;
  display: flex;
  align-items: center;
}

.logo-img {
  margin: 10px;
  height: 30px;
}

.logo-text {
  color:white;
  font-weight:bold;
  margin-right: 10px;
}

.header-search {
  width: 880px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 30px;
}

.search-btn {
  height:30px;
  width: 30px;
  border: 0;
  outline: 0;
  background-color: #282c34;
  margin-right: 20px;
}

.search-img{
  width: 100%;
  width: 100%;
}


/* content */
.container {
  background-color: blanchedalmond;
}


/* video detail */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
